.active{
    text-decoration: dashed;
    margin-top: 0.35rem;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.3rem;
    color: white;
}
.active:hover{
    color: white;
}
.nav-item{
    text-transform: uppercase;
    font-weight: 500;
}
.navbar-brand{
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 900;
    font-style: italic;
}
.login-title{
    font-weight:500;
    font-size: 5rem;
}
.login-box{
    padding:20%;
    border-radius: 2rem;
    background-color: rgb(246, 242, 242);
    height: 100%;

}
.input-box{
    background-color: white;
    border-radius: 0.5rem;
    border-style:none;
}